include README.md
include pyproject.toml
include install.cmd
include install.ps1
include install.sh
include uninstall.cmd
include uninstall.ps1
include uninstall.sh
include pexo
include pexo.bat
recursive-include app/static *.html
